Nits #5 from Alvaro

149   The BGP mechanisms for SD-WAN support requires a route reflector (RR)
150   to have a secure connection to each BGP Peer participating in the BGP
151   infrastructure support the SD-WAN.  The establishiment of a secure
152   connection between each BGP Peer and the RR is outside the scope of
153   this specification.

[nit] s/support the SD-WAN/supporting the SD-WAN


[nit] s/establishiment/establishment


[major] "requires...a secure connection...establishiment (sic) of a secure connection...is outside the scope of this specification."

A "secure connection" is not properly described anywhere.  The text also uses "secure link", which creates confusion with the "SD-WAN Secure Links"
use case -- this terminology is what is used in the Security Considerations section (see more there).  There are also a couple of mentions of "secure transport" and even "secure transport connection".  Please be consistent!


change the first sentence to "The BGP mechanisms supporting SD-WAN require that the Route Reflector (RR) establish a secure transport connection with each SD-WAN edge operating under the same BGP control plane instance."

"secure connection" -> "secure transport connection" , with  a new definition added in the Section 1.3 (Conventions). 



Linda - I agree wiht this addition. 

### Logic 
Alvaro points out that there is no BGP-related standard indicating a secure transport. 
By secure transport, BGP usually means authentication and integrity.  For this definition, TCP-AO works. 
If secure transport means: authentication, integrity and privacy - then there is no standard. 
The IDR chairs point out two existing standards for BGP secure TCP standards (TCP-MD5 and TCP-AO). 

**IETF Standard in development involve:** 
1) BGP over QUIC, 2) Profiles for 
2) TCP Profiles for BGP over IPsec
3) Other TCP profiles for BGP that 

## Suggest text for resolving the second paragraph in section 1 

> The BGP mechanisms supporting the SD-WAN require that the
> RR establishes a transport session with authentication and integrity
> with each SD-WAN edge operating within the same control plane instance. 
>
> Past BGP Standards for a 'secure-session" that supports
> authentication and integrity include a choice of using
> TCP-Authentication Option (TCP-AO) [RFC5925] or
> Protection of BGP Sessions via the TCP MD5 Signature Option [RFC2385].
> The support for MD5 has been made available for legacy reasons, but
> because of vulnerabilities in MD5, as described in
> MD5 and HMAC-MD5 Security Considerations [RFC6151],   [RFC5925]
> obsoletes RFC2385.  Other methods are being defined by IETF working groups 
> to establish a session that has authentication and integrity include
> BGP over QUIC (draft-retana-idr-bgp-quic), and
> TCP profiles for BGP over IPsec, and TCP profiles for BGP over TLS.
> 
> Operators SHOULD use TCP-AO or other methods that provide 
> authentication and integrity to secure the BGP TCP connection between the 
> RR and each BGP Peer.   These other methods to provide authentication and 
> Integrity are outside the scope of this document.   



### Text that resolves this issue:

> 
>    BGP [RFC4271] serves as the control plane for these SD-WAN
>    deployments.  For SD-WAN implementations using BGP, the RR SHOULD
>    establish a secure transport connection with each SD-WAN edge
>    operating under the same BGP control plane instance.  This secure
>    transport SHOULD support authentication and integrity, but MAY also
>    support confidentiality.
> 
>    SD-WAN deployments SHOULD use TCP-AO [RFC5925] to provide
>    authentication and integrity between the RR and each BGP Peer.  Other
>    mechanisms that can also provide confidentiality are in the process
>    of being defined by the IETF.  Examples of these mechanisms are: BGP
>    over QUIC [draft-retana-idr-bgp-quic], BGP over TLS/TCP [draft-
>    wirtgen-bgp-tls], or Securing BGPv4 using IPsec [draft-ward-bgp-
>    ipsec].
> 


The BGP mechanisms supporting the SD-WAN require that the
RR establishes a transport session with authentication and integrity
with each SD-WAN edge operating within the same control plane instance.

Past BGP Standards for a 'secure-session" that supports
authentication and integrity include a choice of using
TCP-Authentication Option (TCP-AO) [RFC5925] or
Protection of BGP Sessions via the TCP MD5 Signature Option [RFC2385].
The support for MD5 has been made available for legacy reasons, but
because of vulnerabilities in MD5, as described in
MD5 and HMAC-MD5 Security Considerations [RFC6151], [RFC5925]
obsoletes RFC2385. Other methods are being defined by IETF working groups
to establish a session that has authentication and integrity include
BGP over QUIC (draft-retana-idr-bgp-quic), and
TCP profiles for BGP over IPsec, and TCP profiles for BGP over TLS.

Resolved with -27.txt,  Resolved with discussion with Linda and Alvaro. 