Major nits: Line 1365 - 1341

1365 3.3.4.  IPsec SA Proposal Sub-TLV
...
1372   SubTLV Description:  The IPsec SA Proposal Sub-TLV is to indicate the
1373      number of Transform Sub-TLVs.

[major] "Transform Sub-TLVs" ??   Where are those defined?



...
1402         Reserved-Cnt (16 bits): reserved for future use.  These bits
1403         are ignored upon receipt and set to zero when transmitted.

[major] This field and the other Reserved field in this sub-TLV are not
defined as all the other Reserved fields (using Normative language, for
example).  Why?



...
1408         Transform Type (8 bits): The Transform Type values are defined
1409         in Section 3.3.2 of [RFC7296].  Only ENCR, INTEG, and ESN
1410         values are permitted.

[major] What action should be taken if a different value is received?


[major] The registry includes other values -- I'm assuming those are not
permitted either.  Nonetheless, you may want to change the reference
(rfc7296 initially defined the values...).

https://www.iana.org/assignments/ikev2-parameters/ikev2-parameters.xhtml#ikev2-parameters-3



...
1418         Transform Attributes: These Sub-SubTLV are defined in section
1419         3.3.5 of [RFC7296].

[nit] s/These Sub-SubTLV/These Sub-SubTLVs


[major] rfc7296 defined one (not multiple, as implied in the text) TLV.
The registry shows at lease one more.  I understand that it is not possible
to keep up with all the changes (and I don't understand all the related
security technology), but if the intention is to, for example, only allow
type 14 [rfc7296], please be explicit.

https://www.iana.org/assignments/ikev2-parameters/ikev2-parameters.xhtml#ikev2-parameters-4



1421   SubTLV Error Handling:  A IPsec SA Proposal Sub-TLV is a MALFORMED
1422      Sub-TLV if the fields do not fit the limits specified above.  Per
1423      [RFC9012] a MALFORMED Sub-TLV is ignored.  The procedure for
1424      content checks for the IPsec SA Proposal SubTLV is specified in
1425      section 3.4 for client routes, and section 3.5 for underlay
1426      routes.

[] A quick check shows that §3.4/3.5 don't refer to rfc7296 for validation.



...
1431   Compatibility:  The Reserved-Cnt field was allocated to allow future
1432      compatiability with [Secure-EVPN] field for SA-Proposals.
1433      Currently only 1 transform is allowed per IPsec SA Proposal
1434      SubTLV.  Multiple IPsec SA-Proposal SubTLVs may be included in a
1435      Tunnel-encapsulation Attribute.

[major] Drafts usually talk about backwards compatibility, but "future
compatibility"??  I don't understand where this is coming from since
Secure-EVPN is not referencing this document -- instead, they seem to be
defining their own encoding.

This would be a good point of coordination between the WGs.

https://datatracker.ietf.org/doc/html/draft-ietf-bess-secure-evpn-02#name-bgp-encoding


clean out the text. The revised text are:

> 3.3.4. IPsec SA Proposal Sub-TLV
> SubTLV Name: IPsec SA Proposal – Indicates IPsec Transform Attributes
> 
> SubTLV Code: 69 (IANA assigned)
> 
> The IPsec SA Proposal Sub-TLV is used to advertise a set of cryptographic parameters that define the proposal for establishing an IPsec Security Association (SA). A proposal consists of one or more transform types, where each transform specifies a particular cryptographic function (such as encryption or integrity) and the corresponding algorithm to be used. This structure follows the same model as IKEv2 Proposals defined in [RFC7296] Section 3.3.
> 
> Each transform includes:
> 
> A Transform Type, which identifies the function being specified (e.g., encryption, integrity).
> 
> A Transform ID, which specifies the algorithm for that function.
> 
> Optional Transform Attributes, which provide additional algorithm-specific parameters when necessary.

> Multiple Proposals:
> Multiple IPsec SA Proposal Sub-TLVs MAY be included to describe multiple transform types for the same Security Association proposal. Collectively, these Sub-TLVs define the full proposal for an IPsec SA between SD-WAN edge nodes.
> 
> Error Handling:
> An IPsec SA Proposal Sub-TLV is considered malformed if:
> 
>  - The Length field does not match the actual length of the Value field.
> 
>  -  The Transform Attribute Length field is inconsistent with the total Sub-TLV Length.
> 
>  - Any field value falls outside its valid range as specified in [RFC7296].
> 
> Malformed Sub-TLVs MUST be handled according to [RFC9012] and ignored during parsing. Additional content checks for the IPsec SA Proposal Sub-TLV are described in Section 3.4 (for client routes) and Section 3.5 (for underlay routes).

closed due to changes and key issues moved to Issue 100.