issue -99: Major (Reference section) : Line 2374 - 2501

2374 7.1.  Normative References

2376   [RFC1997]  Chandra, R., Traina, P., and T. Li, "BGP Communities
2377              Attribute", RFC 1997, DOI 10.17487/RFC1997, August 1996,
2378              <https://www.rfc-editor.org/info/rfc1997>.

[minor] This reference can be Informative.



...
2394   [RFC4364]  Rosen, E. and Y. Rekhter, "BGP/MPLS IP Virtual Private
2395              Networks (VPNs)", RFC 4364, DOI 10.17487/RFC4364, February
2396              2006, <https://www.rfc-editor.org/info/rfc4364>.

[minor] This reference can be Informative.



...
2403   [RFC4659]  De Clercq, J., Ooms, D., Carugi, M., and F. Le Faucheur,
2404              "BGP-MPLS IP Virtual Private Network (VPN) Extension for
2405              IPv6 VPN", RFC 4659, DOI 10.17487/RFC4659, September 2006,
2406              <https://www.rfc-editor.org/info/rfc4659>.

[minor] This reference can be Informative.



...
2413   [RFC4761]  Kompella, K., Ed. and Y. Rekhter, Ed., "Virtual Private
2414              LAN Service (VPLS) Using BGP for Auto-Discovery and
2415              Signaling", RFC 4761, DOI 10.17487/RFC4761, January 2007,
2416              <https://www.rfc-editor.org/info/rfc4761>.

[minor] This reference can be Informative.



2418   [RFC4762]  Lasserre, M., Ed. and V. Kompella, Ed., "Virtual Private
2419              LAN Service (VPLS) Using Label Distribution Protocol (LDP)
2420              Signaling", RFC 4762, DOI 10.17487/RFC4762, January 2007,
2421              <https://www.rfc-editor.org/info/rfc4762>.

[minor] This reference can be Informative.



2423   [RFC5701]  Rekhter, Y., "IPv6 Address Specific BGP Extended Community
2424              Attribute", RFC 5701, DOI 10.17487/RFC5701, November 2009,
2425              <https://www.rfc-editor.org/info/rfc5701>.

[minor] This reference can be Informative.



2427   [RFC6793]  Vohra, Q. and E. Chen, "BGP Support for Four-Octet
2428              Autonomous System (AS) Number Space", RFC 6793,
2429              DOI 10.17487/RFC6793, December 2012,
2430              <https://www.rfc-editor.org/info/rfc6793>.

[minor] This reference can be Informative.



...
2442   [RFC8092]  Heitz, J., Ed., Snijders, J., Ed., Patel, K., Bagdonas,
2443              I., and N. Hilliard, "BGP Large Communities Attribute",
2444              RFC 8092, DOI 10.17487/RFC8092, February 2017,
2445              <https://www.rfc-editor.org/info/rfc8092>.

[minor] This reference can be Informative.



...
2470 7.2.  Informative References
...
2478   [MEF70.1]  MEF, "SD-WAN Service Attributes and Service Framework",
2479              November 2021, <https://www.mef.net/resources/mef-70-1-sd-
2480              wan-service-attributes-and-service-framework/>.

2482   [MEF70.2]  MEF, "SD-WAN Service Attributes and Service Framework",
2483              October 2023, <https://www.mef.net/resources/mef-70-2-sd-
2484              wan-service-attributes-and-service-framework/>.

[major] Understanding an SD-WAN is central to this draft, so these two
references should be Normative.



...
2493   [RFC5114]  Lepinski, M. and S. Kent, "Additional Diffie-Hellman
2494              Groups for Use with IETF Standards", RFC 5114,
2495              DOI 10.17487/RFC5114, January 2008,
2496              <https://www.rfc-editor.org/info/rfc5114>.

[major] Because it is used alongside rfc7296, this reference should be
Normative.



2498   [RFC5903]  Fu, D. and J. Solinas, "Elliptic Curve Groups modulo a
2499              Prime (ECP Groups) for IKE and IKEv2", RFC 5903,
2500              DOI 10.17487/RFC5903, June 2010,
2501              <https://www.rfc-editor.org/info/rfc5903>.

[major] Because it is used alongside rfc7296, this reference should be
Normative.


All references have be revised per the suggestions

closing this issue as complete. 