Nits #20 from Alvaro regarding to the use of the Tunnel Encapsulation Attribute being false

317 2.1.  Supported Client Routes

319   Tunnel Encapsulation may be attached to the prefixes from the Unicast
320   v4 and v6 ((AFI/SAFI 1/1 and 2/1), and L3VPNs for v4 and v6 (AFI/SAFI
321   1/128 and 2/128) (per [RFC4364], [RFC4659]).

[major] s/Tunnel Encapsulation/The Tunnel Encapsulation Attribute [RFC9012]


[nit] s/v4 and v6/IPv4 and IPv6/g


[major] The statement is about the use of the Tunnel Encapsulation Attribute is false, in general.  It may be what this specification expects (when used with a specific tunnel type or NLRI) -- if so, please be explicit.



How about changing the sentence to the following? 

> The Tunnel Encapsulation Attribute [RFC9012] may be attached to prefixes carried in BGP UPDATEs for IPv4 and IPv6 unicast routes (AFI/SAFI 1/1 and 2/1), as well as for IPv4 and IPv6 L3VPNs (AFI/SAFI 1/128 and 2/128), as specified in [RFC4364] and [RFC4659]. In the context of this specification, these NLRIs are used to signal SD-WAN tunnel information and endpoint properties associated with specific prefixes.

[major] The statement is about the use of the Tunnel Encapsulation Attribute is false, in general. It may be what this specification expects (when used with a specific tunnel type or NLRI) -- if so, please be explicit.

Please note the following statement in RFC9012: 

**Document:** https://www.rfc-editor.org/rfc/rfc9012.html#section-6)
**Semantics and Usage of the Tunnel Encapsulation Attribute**

> The BGP Tunnel Encapsulation attribute MAY be carried in any BGP UPDATE message whose AFI/SAFI is 1/1 (IPv4 Unicast), 2/1 (IPv6 Unicast), 1/4 (IPv4 Labeled Unicast), 2/4 (IPv6 Labeled Unicast), 1/128 (VPN-IPv4 Labeled Unicast), 2/128 (VPN-IPv6 Labeled Unicast), or 25/70 (Ethernet VPN, usually known as EVPN). Use of the Tunnel Encapsulation attribute in BGP UPDATE messages of other AFI/SAFIs is outside the scope of this document.

**Text in 2.1 Supported Client routes in lines 319-321: can be modified to state:**

> This document specifies how SD-WAN tunnel information and endpoint properties associated with 
 SDWAN Hybrid tunnels can be passed in BGP using the Tunnel Encapsulation Attribute (TEA) [RFC9012] with an SDWAN Hybrid Tunnel TLV in a BGP Update with certain prefixes.   A Tunnel Encapsulation Attrinbute with the SDWAN Hybrid Tunnel TLV can only be attached to IPv4 and v6 (AFI/SAFI 1/1 and 2/1), and L3VPNs for v4 and v6 (AFI/SAFI 1/128 and 2/128) (per [RFC4364], [RFC4659]).   

> Note: This draft augments the capabilities of the Tunnel Encapsulation Attribute found in [RFC9012] 
	 


Section 2.1, paragraph 1 needs to change to my suggested text in -26. 
I've sent the change off to Linda and Alvaro.  (pm on 1/30/2026)


Closing this issue.  Most of the issues covered in -26a.  Moving all remaining [RFC9012] issues to issue 101. 